.login {
    min-height: 100vh;

    &-form {
        margin: auto;

        &__wrapper {
            background-color: #e6e6e6;
            border-radius: 8px;
            padding: 25px;
        }
    }
}
