#login {
    background: linear-gradient(-135deg, #50c8a0, #4158d0);
}

.login {
    min-height: 100vh;

    &-box {
        background-color: #ffffff;
        border-radius: 10px;
        margin: auto;
        padding: 70px 35px;

        img {
            animation: spin infinite 20s linear;
            width: 200px;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
