.sidebar {
    background-color: #000000;
    height: 100vh;
    position: fixed;
    width: 5rem;

    &-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        &__item:last-child {
            margin-top: auto;
        }
    }
}
