.font-weight-l-bold {
    font-weight: 500;
}

.login {
    min-height: 100vh;

    &-main {
        &__header {
            img {
                width: 45px;
            }
        }
    }

    &-alt {
        background: linear-gradient(-135deg, #50c8a0, #4158d0);
    }
}
