// Common
.font-weight-l-bold {
    font-weight: 500;
}

// Landing
.landing {
    min-height: 100vh;

    &-header {
        img {
            width: 45px;
        }
    }

    &__bg {
        background: linear-gradient(-135deg, #50c8a0, #4158d0);
    }
}

// LandingForm
.custom-control-label::after,
.custom-control-label::before {
    top: 0.35rem !important;
}
